.authorize__input {
  margin-bottom: 30px;
  padding-bottom: 7px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCCCCC;
  height: 27px;
  color: #FFF;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.authorize__input::placeholder {
  color: #CCCCCC;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}